<h1>Posts Index</h1>
<%= link_to 'Add post', new_post_path %>


  <% @posts.each do |post| %>
    <div class="container border border-dark mx-auto mt-5 p-5">
      <div class="d-inline-block m-3">
        <%= image_tag post.image.variant(resize: '200x200') %>
      </div>
      
      <div class="d-inline-block m-3">
        <h1><%= post.book_title %></h1>
        <p><%= post.article_body %></p>
        <%= link_to("詳細を見る", "/posts/#{post.id}") %>
        
      </div>

    </div>
  <% end %>
